/* Header */
header {
    display: flex;
    background: black;
    width: 100%;
    align-items: center;
    justify-content: center;
}

header h1 {
    color: #fff;
}

/* Body */
.cities {
    background: rgb(240, 240, 240);
    height: max-content;
    width: 100%;
}

#currentWeather {
    width: 100%;
    padding-left: 15px;
    border-left-style: solid;
    border-bottom-style: solid;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-left-color: rgb(37, 37, 37);
    border-bottom-color: rgb(37, 37, 37);
    border-bottom-left-radius: 15px;
}

#cityDate {
    margin-bottom: 30px;
}

.currentWeatherText {
    margin: 30px 0;
}

.forcastCard {
    border-radius: 5px;
    background: #007bff;
    color: #fff;
    padding: 5px 5px;
    width: max-content;
    margin: 5px 2px;
    font-size: 12px;
    width: max-content;
}

.forcastCard p {
    margin: 3px 0;
}

/* small screens */
@media only screen and (max-width: 450px) {
    header h1 {
        font-size: x-large;
    }

    .forcastCard {
        margin-left: 15px;
    }

    .cities {
        margin-bottom: 5px;
    }
}